<template>
  <!-- <body> -->
  <Intro v-if="showintro" v-on:closeIntro="closeIntro()"/>
  <Landing v-if="showlanding" v-on:full="questions('full')" v-on:mid="questions('mid')" v-on:low="questions('low')"/>
  <Calibration v-if="showcalibration" v-on:endCalibration="calibration()"/>
  <MainExperiment v-if="showexperiment" v-on:closeExperiment="closeExperiment()" v-bind:showvideo="showvideo" v-bind:showtext="showtext"/>
  <Question v-if="showquestion" v-on:closeQuestion="closeQuestion()"/> 
  <Utopia v-if="showutopia" v-on:closeUtopia="closeUtopia()"/>
  <div class="Buttons"> 
   <!-- <button @click = 'showvideo=!showvideo' >showvideo</button>
   <button @click = 'showtext=!showtext' >showtext</button>
   <button @click = 'showcalibration=!showcalibration' >showcalibration</button>
   <button @click = 'showplot=!showplot' >showplot</button>   -->
  <Plot v-if="showplot"/>
  </div>

  <div><div ref="plot1" id="plot1"></div></div>
   <!-- <div class="wrapper">
      <h1>My Todo List</h1>
      <form @submit.prevent="addTodo">
        <input type="text" name="todo-text" v-model="newTodoText" placeholder="New todo">
      </form>
      <ul v-if="todos.length" display:inline>
        <TodoItem v-for="todo in todos" :key="todo.id" :todo="todo" @remove="removeTodo"/>
      </ul>
      <p class="none" v-else>Nothing left in the list. Add a new todo in the input above.</p>
      
    </div> -->
  <!-- </body> -->
</template>

<script>
import Calibration from "./Calibration"
import Intro from "./Intro.vue"
import Utopia from "./Utopia.vue"
import MainExperiment from "./MainExperiment.vue"
import Plot from "./Plot.vue"
import Landing from "./Landing.vue"
import Question from "./Question.vue"

// let nextTodoId = 1
// const createTodo = text => ({
//   text,
//   id: nextTodoId++
// })



export default {
  components: {
    Calibration,
    Intro,
    MainExperiment,
    Question,
    Utopia,
    Landing,
    Plot
  },
  // data() {return {
  //   arrays:[{
  //     x: [1,2,3,4],
  //     y: [10,15,13,17],
  //     type:"scatter"
  //   }],
  //   layout:{
  //     title: "My graph"
  //   }
  // }},
  data() {
    return {
      showlanding: false,
      showcalibration:false,
      showquestion:false,
      showexperiment:false,
      showplot: false,
      showvideo: false,
      showtext: false,
      showintro:true,
      audioon:false,
      showutopia:false,

  //     // todos: [
  //     //   createTodo("Learn Vue"),
  //     //   createTodo("Learn about single-file components"),
  //     //   createTodo("Fall in love ❤️")
  //     // ],

  //     // newTodoText: ""
    }
  },

  methods: {
    closeIntro: function(){
      this.showintro=false
      this.showlanding=true
    },
    questions: function(stimuliRange){
      if(stimuliRange=="full"){
        this.audioon=true
        this.showvideo=true
      }
      if(stimuliRange=="mid"){
        this.showtext=true
        this.audioon=true
      }
      if(stimuliRange=="low"){
        console.log("low")
        this.showtext=true
      }
      this.showlanding=false
      this.showcalibration=true
      // this.showexperiment=true
    },
    calibration: function(){
      this.showcalibration=false
      this.showexperiment=true
    },
    closeExperiment: function(){
      this.showexperiment=false
      this.showquestion=true
    },
    closeQuestion: function(){
      this.showquestion=false
      this.showutopia=true
    },
    closeUtopia: function(){
      this.showutopia=false
      this.showplot=true

    }
    // addTodo() {
    //   const trimmedText = this.newTodoText.trim()
    //   if (trimmedText) {
    //     this.todos.push(createTodo(trimmedText))
    //   }

    //   this.newTodoText = ""
    // },

    // removeTodo(item) {
    //   this.todos = this.todos.filter(todo => todo !== item)
    // }
  }
}
</script>

<style>
body {
  overflow: hidden; /* Hide scrollbars */
}
</style>
