<template>
    <h1 id="main">Calibration process</h1>
    <h1 id="sub" >Please click each button 5 times, while looking at it</h1>
    <button id="lefttop" v-bind:style="{ background: computedColorlt}" v-on:click = 'changeColor(0)' ></button>
    <button id="leftmid" v-bind:style="{ background: computedColorlm}" v-on:click = 'changeColor(3)' ></button>
    <button id="leftbot" v-bind:style="{ background: computedColorlb}" v-on:click = 'changeColor(6)' ></button>
    <button id="centertop" v-bind:style="{ background: computedColorct}" v-on:click = 'changeColor(1)'></button>
    <button id="centermid" v-bind:style="{ background: computedColorcm}" v-on:click = 'changeColor(4)'></button>
    <button id="centerbot" v-bind:style="{ background: computedColorcb}" v-on:click = 'changeColor(7)'></button>
    <button id="righttop" v-bind:style="{ background: computedColorrt}" v-on:click = 'changeColor(2)'></button>
    <button id="rightmid" v-bind:style="{ background: computedColorrm}" v-on:click = 'changeColor(5)'></button>
    <button id="rightbot" v-bind:style="{ background: computedColorrb}" v-on:click = 'changeColor(8)'></button>
</template>

<script>
export default {
  data() { return {
      color:['black','black','black','black','black','black','black','black','black'],
      counters:[0,0,0,0,0,0,0,0,0]
    }
  },
  computed: {
    computedColorlt: function () {
      return this.color[0];
    },
    computedColorlm: function () {
      return this.color[3];
    },
    computedColorlb: function () {
      return this.color[6];
    },
    computedColorct: function () {
      return this.color[1];
    },
    computedColorcm: function () {
      return this.color[4];
    },
    computedColorcb: function () {
      return this.color[7];
    },
    computedColorrt: function () {
      return this.color[2];
    },
    computedColorrm: function () {
      return this.color[5];
    },
    computedColorrb: function () {
      return this.color[8];
    }
  },
  methods: {
      changeColor: function(ind) {
        this.counters[ind]+=1;
        if(this.counters[ind]==4){
          this.color[ind]='white';
        }
        if(this.counters.reduce((a, b) => a + b, 0)>=36){
          this.$emit("endCalibration")
        }
        
      }
    }
}
</script>


<style scoped>
#main{
  position: absolute;
  text-align: center;
  top:15%;
  left:40%;
  right:40%;
}
#sub{
  position: absolute;
  text-align: center;
  top:30%;
  left:20%;
  right:20%;
}

#lefttop {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  /* background-color: black; */
  transform: rotate(45deg);
  /* border: 3px solid #73AD21; */
}
#centertop{
  position: absolute;
  top: 30px;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);
}

#leftmid{
  position: absolute;
  top: 50%;
  left: 30px;
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);
}

#centermid{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);
}

#rightmid{
  position: absolute;
  top: 50%;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);
}


#righttop {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);
  /* border: 3px solid #73AD21; */
}
#leftbot {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);

  /* border: 3px solid #73AD21; */
}
#centerbot{
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);
}
#rightbot {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);
  /* border: 3px solid #73AD21; */
}
</style>