<template>
<video autoplay loop id="myVideo" v-on:canplaythrough="timeoutIntro" >
  <source src="assets/intro.mp4" type="video/mp4" >
</video>
</template>

<script>


export default {
  name:"Intro",
  components: {
  },
  data(){ return{
    already_visited:false
  }},
  // mounted(){
  //     console.log("timeoutset")
  //     setTimeout(this.timeoutCallback,10000)
  //  },
  methods:{
    // wait: function(){
    //   console.log("waiting")
    // },
    timeoutIntro:function () {
      console.log("timeoutintro")
      if(!this.already_visited){
      setTimeout(this.timeoutCallback,10000)
      }
      this.already_visited=true
      },
    timeoutCallback: function (){ 
      console.log("loaded")
      this.$emit("closeIntro")
    }
  }
  }
</script>

<style scoped>

</style>