<template>
<div class="question">
      <button id="menu" @click="menuactive=!menuactive"></button>
      <button id="manifesto" v-if="menuactive" >manifesto</button>
      <button id="about" v-if="menuactive">about</button>
      <button id="contact" v-if="menuactive">contact</button>
      <div class="grid">
      <img id="logo" src="assets/logo.png" height="200px" width="200px">
      <div id = text>
      <p id="main">We have a story to tell.</p>
      <p id="sub">How do you want to experience it?</p>
      </div>
      <p id="lefttxt">I don't like to be overstimulated</p>
      <p id="centertxt">I want sth in between</p>
      <p id="righttxt">I want fully stimulating version</p>

      <button id="left" v-on:click="simple()"></button>
      <button id="center" v-on:click="between()"></button>
      <button id="right" v-on:click="full()"></button>
      
      <div id="banner"><h1>Epilepsy warning. Epilepsy warning. Epilepsy warning. Epilepsy warning. Epilepsy warning. Epilepsy warning. Epilepsy warning.</h1></div>
      </div>
</div>
</template>


<script>
export default {
  data() {
      return {
        menuactive:false,
    }
  },
  methods:{
    full: function(){
      this.$emit("full")
    },
    between:function(){
      this.$emit("mid")
    },
    simple:function(){
      this.$emit("low")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped >

h1 {
  color:black;
  position:relative;
  bottom:40%;
  -moz-animation: marquee 40s linear infinite;
  -webkit-animation: marquee 40s linear infinite;
  animation: marquee 40s linear infinite;
}
button:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
} 
@-moz-keyframes marquee {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(150%, 0);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(150%, 0);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  100% {
    -moz-transform: translate(150%, 0);
    -webkit-transform: translate(150%, 0);
    transform: translate(150%, 0);
  }
}
#menu{
  position: absolute; 
  right:5%;
  top:5%;
  height: 40px;
  width: 40px;
  background-color:white;
  border-radius: 50%;
}
#manifesto{
  border: none;
  position: absolute; 
  right:8%;
  top:10%;
  color: white;
  background-color: inherit;
  font-size: 24px;
}
#about{
  border: none;
  position: absolute; 
  background-color: inherit;
  color: white;
  right:8%;
  top:20%;
  font-size: 24px;

}
#contact{
  border: none;
  position: absolute; 
  background-color: inherit;
  color: white;
  right:8%;
  top:15%;
  font-size: 24px;

}
p{
  color:white;
  font-size: 24px;
}
.grid{
  height: 100%;
  width:100%;
  display:grid;
  grid-template-rows: auto,auto,auto,auto,auto;
  grid-template-columns: 30%,30%,30%;
}
#banner{
  background-color: white;
  overflow: hidden;
  align-self: end;
  height:30%;
  width:100%;
  grid-row:6;
  grid-column-start: 1;
  grid-column-end: 4;
}
#logo{
  place-self: center;
  grid-row:1;
  grid-column:2;
}
#text{
  grid-row: 2;
  grid-column:2
}
#main{
  font-weight: 1000;
  text-align: center;
  
}


#sub{
  text-align: center;


}
#left{
  /* position: absolute;
  bottom: 20%;
  left: 25%; */
  place-self: center;
  grid-column: 1;
  grid-row:3;
  width: 100px;
  height: 100px;
  /* background-color: black; */
  transform: rotate(45deg);
}
#lefttxt{  
  text-align: center;

  grid-column:1;
  grid-row:4;
}

#center{
  /* position: absolute;
  bottom: 20%;
  left: 47%;  */
  place-self: center;

  grid-column:2;
  grid-row:3;
  width: 100px;
  height: 100px;
  /* background-color: black; */
  transform: rotate(45deg);
}
#centertxt{
  text-align: center;

  grid-column:2;
  grid-row:4;
}
#right{
  /* position: absolute;
  bottom: 20%;
  right: 25%; */
  place-self: center;

  grid-column: 3;
  grid-row:3;
  width: 100px;
  height: 100px;
  /* background-color: black; */
  transform: rotate(45deg);
}
#righttxt{
  text-align: center;

  grid-column:3;
  grid-row:4;
}

.question{
  background-color: black;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;

}

</style>
