<template>
<video v-if="showvideo" autoplay loop id="myVideo" v-on:canplaythrough="timeout">
  <source src="assets/dystopia.mp4" type="video/mp4">
</video>

<!-- <video-bg v-if="showvideo" :sources="['assets/dystopia.mp4']" /> -->
<div id="text" v-if="showtext">
    <h1>I wake up in the morning.&nbsp;</h1>
    <h1>After opening my eyes&nbsp;</h1>
    <h1>I check the time and &nbsp;</h1>
    <h1>I take a sip, a gulp, a bite.&nbsp;</h1>
    <h1>I turn on my screen and so I begin. </h1>
    <h1>I swallow the message from the night.&nbsp;</h1>
    <h1>I bite the notifications, comments and lives.&nbsp;</h1>
    <h1>I swallow the forecast, to stay away from the rain.&nbsp;</h1>
    <h1>I swallow the faces, their worlds and problems, which are the same.&nbsp;</h1>
    <h1>I swallow Paris, Celine’s message and Eiffel tower from her pic.&nbsp;</h1>
    <h1>I devour all the stories from the women’s protest and I don’t process their pain, their screams I just swallow and eat.&nbsp;</h1>
    <h1>I consume the rage, the cry and the violence with my eyes.&nbsp;</h1>
    <h1>My brain hurts but there is so much more to feed on.&nbsp;</h1>
    <h1>I feast on what my bubbles and chambers are serving.&nbsp;</h1>
    <h1>I bite the feminists pain and their fight, which is never ending.&nbsp;</h1>
    <h1>I eat the Adobe ad and I eat the info about fire on swamps.&nbsp;</h1>
    <h1>I devour models, their bodies and faces&nbsp;</h1>
    <h1>and swallow the world and the beach, where they are standing,&nbsp;</h1>
    <h1>which will perish If I don’t act upon that new petition about co2 emission.&nbsp;</h1>
    <h1>I erase everything and everyone, who doesn’t fit.&nbsp;</h1>
    <h1>Whom I don’t want to eat.&nbsp;</h1>
    <h1>I don’t want to see them, my eyes are full.&nbsp;</h1>
    <h1>I know what it is that I need. But I'm feeling so sick.&nbsp;</h1>
    <h1>I might vomit.&nbsp;</h1>
    <h1>I’m rising from bed. Sat by the table.&nbsp;</h1>
    <h1>Coffee and bread.&nbsp;</h1>
    <h1>I’m saying good morning.&nbsp;</h1>
    <h1>I hear the answer.&nbsp;</h1>
    <h1>It tells me what’s new in it’s office.&nbsp;</h1>
    <h1>But, I’ve just heard the sound and don’t hear anymore.&nbsp;</h1>
    <h1>I’m starting the feast.&nbsp;</h1>
    <h1>What's new on ig, what’s new on the web?&nbsp;</h1>
    <h1>Ah yes yes, a new colleague? Interesting.&nbsp;</h1>
    <h1>New diet, new pic, new shoes, new movie.&nbsp;</h1>
    <h1>I eat, I bite, I devour, I swallow.&nbsp;</h1>
    <h1>I bite whatever I grab&nbsp;</h1>
    <h1>I swipe, swipe, swipe.&nbsp;</h1>
    <h1>I relish with this new promo.&nbsp;</h1>
    <h1>I feast on this new trailer.&nbsp;</h1>
    <h1>I bite this meme from Jacob.&nbsp;</h1>
    <h1>No, no I’m not laughing at your job.&nbsp;</h1>
    <h1>Jacob sent me sth funny. Yes I do listen.&nbsp;</h1>
    <h1>I swallow the market, it’s state and the assets.&nbsp;</h1>
    <h1>Reviews of the worlds, which don't exist and worlds I also eat.&nbsp;</h1>
    <h1>I bite the concepts and models.&nbsp;</h1>
    <h1>I eat that “rich are living offline”.&nbsp;</h1>
    <h1>I eat predictions, graphs and job applications.&nbsp;</h1>
    <h1>I eat each and every paragraph and every loophole.&nbsp;</h1>
    <h1>I eat his account on linkedin.&nbsp;</h1>
    <h1>I read everything I can find.&nbsp;</h1>
    <h1>I swallow the company, their reviews and I’m checking the time.&nbsp;</h1>
    <h1>Mhm. I have to go now. Yeah, I have an interview …&nbsp;</h1>
    <h1>I’m in the bus and I don’t see the grass.&nbsp;</h1>
    <h1>I swallow the info - increased city budget.&nbsp;</h1>
    <h1>New exhibition - tasty.&nbsp;</h1>
    <h1>I swallow this new track - amazing.&nbsp;</h1>
    <h1>But I want sth new on my headphones.&nbsp;</h1>
    <h1>New, new, new.&nbsp;</h1>
    <h1>Oh this one sounds crazy.&nbsp;</h1>
    <h1>I bite the form.&nbsp;</h1>
    <h1>I bite a photo from whatsapp and leave at the bus stop …&nbsp;</h1>
    <h1>I’m reaching the flat and I open my laptop.&nbsp;</h1>
    <h1>I bite the new stuff and this movies from vice.&nbsp;</h1>
    <h1>I swallow the docs and shorts and channels.&nbsp;</h1>
    <h1>I’m already eating new series.&nbsp;</h1>
    <h1>Netflix is always giving me thrills.&nbsp;</h1>
    <h1>I’ve just bitten tutorial of chess?&nbsp;</h1>
    <h1>Why? Don’t ask me, I think it’s just great.&nbsp;</h1>
    <h1>I swallow the moves, strategies.&nbsp;</h1>
    <h1>I eat “threat of AI is close” it’s already smarter than us.&nbsp;</h1>
    <h1>Than me.&nbsp;</h1>
    <h1>I bite the hate from the comments, I slurp it till I won’t reach the bottom.&nbsp;</h1>
    <h1>I scroll and I fall.&nbsp;</h1>
    <h1>This idiots and fools.&nbsp;</h1>
    <h1>I swallow their hate, their speeches, their faults.&nbsp;</h1>
    <h1>I absorb their culture through words.&nbsp;</h1>
    <h1>Their problems and worlds.&nbsp;</h1>
    <h1>I swallow better and more.&nbsp;</h1>
    <h1>Everyday I eat I swallow, devour.&nbsp;</h1>
    <h1>&nbsp;</h1>
    <h1>Oh it’s midnight already. </h1>  
</div>
</template>

<script>


export default {
  name:"MainExperiment",
  components: {
  },
  mounted(){
     },
  props:{
    showvideo:{
      type:Boolean,
      default:false
    },
    showtext:{
      type:Boolean,
      default:false
    }
  },
  data(){
    return {
    showlogo:false,
    already_visited:false,

    logowidth:200,
    logoheight:200,
    }
  },
  methods:{
    timeout: function () {
      console.log("timeoutset")
      if(!this.already_visited){
        setTimeout(this.timeoutCallback,83000)
      }
      this.already_visited=true
    },
    timeoutCallback: function (){ 
      return this.$emit("closeExperiment")
    }
  }
  }
</script>

<style scoped>

#text{
  position: absolute;

   font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width:100%;
  height: 100%;
  background-color: black;
}
h1 {
  color:white;
  -moz-animation: marquee 90s linear infinite;
  -webkit-animation: marquee 90s linear infinite;
  animation: marquee 90s linear infinite;
}
@-moz-keyframes marquee {
  0% {
    transform: translate(0, 2500%);
  }
  100% {
    transform: translate(0, -50000%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 2500%);
  }
  100% {
    transform: translate(0, -50000%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translate(0, 2500%);
    -webkit-transform: translate(0, 2500%);
    transform: translate(0, 2500%);
  }
  100% {
    -moz-transform: translate(0, -13000%);
    -webkit-transform: translate(0, -13000%);
    transform: translate(0, -13000%);
  }
}
</style>