<template>
  <!-- <body> -->
<h1>Thank you for taking part in our experiment.</h1>
<div><div ref="plot1" id="plot1"></div></div>
<h1>Here is a souvenir, which shall remind you to always look for your limits and live your life accordingly.</h1>
<h1>It is a record of your eyegaze. Do you think it seems nervous? Maybe there is a little bit to many stimulants in your life?</h1>
<h1>If you liked our idea and story and want to see what happens next with our project you can send us your eyegaze record. Maybe we will manage to make an exhibition or campaign and we could share info with you</h1>
</template>

<script>
import Plotly from 'plotly.js/dist/plotly'


// let nextTodoId = 1
// const createTodo = text => ({
//   text,
//   id: nextTodoId++
// })



export default {
    mounted () {
    Plotly.plot('plot1',
      [{
        x: window.gazeTimeseriesX,
        y: window.gazeTimeseriesY,
        z: window.gazeTimeseriesT,
        type:"scatter3d",
        layout: {
            xaxis:{
                showgrid: false, 
                zeroline: false, 
                visible: false,
            }
        }
      }],
      {
        margin: { t: 0, l: 0, b: 0, r: 0 }
      }
    )},
  methods: {
    // addTodo() {
    //   const trimmedText = this.newTodoText.trim()
    //   if (trimmedText) {
    //     this.todos.push(createTodo(trimmedText))
    //   }

    //   this.newTodoText = ""
    // },

    // removeTodo(item) {
    //   this.todos = this.todos.filter(todo => todo !== item)
    // }
  }
}
</script>

<style>
h1{
  text-align: center;
}
</style>
