<template>
<div class="question">
      <h1>&nbsp;</h1>
      <h1>Would you keep overstimulating yourself in the same way as now if you would know, what are the healthy limits of</h1>
      <h1>&nbsp;</h1>
      <h1>&nbsp;</h1>
      <h1>images you can see per day</h1>
      <h1>&nbsp;</h1>
      <h1>minutes of movie you can watch</h1>
      <h1>&nbsp;</h1>
      <h1>pages of text you can read</h1>
      <h1>&nbsp;</h1>
      <h1>&nbsp;</h1>

      <h1>amount of data which you can process</h1>
      <h1>&nbsp;</h1>
      <h1>&nbsp;</h1>
      <h1>. . .</h1>
</div>
</template>


<script>
export default {
  data() {
      return {
    }
  },
  mounted(){
    setTimeout(this.timeout,10000)
  },
  methods:{
    timeout: function (){ 
      return this.$emit("closeQuestion")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped >
.question{
  position: absolute;

  height: 100%;
  width: 100%;
  background-color: black;

}
h1{
  text-align: center;
  color:white;
}
</style>
