<template>
  <div v-if="isActive">
    <p>{{isActive}}</p>

    <p>
      What kind of stimulations do you like? 
    </p>
    <button v-on:click="myMethod($event)">
      I want all you've got!
    </button>
    <button v-on:click="myMethod($event)">
      I'm not sure what do you mean.
    </button>
    <button v-on:click="myMethod($event)">
      I would prefer something calmer.
    </button>
  </div>
</template>



<script>
export default {
  name: 'StimulusRange',
  props:
  {
    isActive: Boolean
  }
}
</script>

