<template>
<video autoplay loop id="myVideo" v-on:canplaythrough="timeout">
  <source src="assets/utopia.mp4" type="video/mp4">
</video>
<!-- <video-bg v-if="showvideo" :sources="['assets/utopia.mp4']" /> -->
<div id="text" v-if="showtext">
   
</div>
</template>

<script>


export default {
  name:"Utopia",
 
  props:{
    showvideo:{
      type:Boolean,
      default:true
    },
    showtext:{
      type:Boolean,
      default:false
    }
  },
  data() {return{
    already_visited:false
  }
  },
  methods:{
    timeout: function () {
      console.log("timeoutset")
      if(!this.already_visited){
        setTimeout(this.timeoutCallback,15000)
      }
      this.already_visited=true
    },
    timeoutCallback: function (){ 
      return this.$emit("closeUtopia")
    }
  }
  }
</script>

<style scoped>
#myVideo{
  position: absolute;
  left:15%;
  right:15%;
  top:15%;
  bottom:15%;
  height: 70%;
  width: 70%;
}
#text{
   font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width:100%;
  height: 100%;
}
h1 {
  color:black;
  -moz-animation: marquee 90s linear infinite;
  -webkit-animation: marquee 90s linear infinite;
  animation: marquee 90s linear infinite;
}
@-moz-keyframes marquee {
  0% {
    transform: translate(0, 5000%);
  }
  100% {
    transform: translate(0, -50000%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 5000%);
  }
  100% {
    transform: translate(0, -50000%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translate(0, 5000%);
    -webkit-transform: translate(0, 5000%);
    transform: translate(0, 5000%);
  }
  100% {
    -moz-transform: translate(0, -13000%);
    -webkit-transform: translate(0, -13000%);
    transform: translate(0, -13000%);
  }
}
</style>